<dl class="meta read-only entry-meta-plugin">
    {% for key,value in data %}
        <div class="data">
            <dt class="heading">{{ key | keyForHumans }}</dt>
            <dd class="value">
                <span>{{ value | valueForHumans | raw }}</span>
            </dd>
        </div>
    {% endfor %}
</dl>