{% for key,value in data %}
    <div class="data">
        <h5 class="heading">{{ key | keyForHumans }}</h5>
        <div class="value">
            <span>{{ value | valueForHumans | raw }}</span>
        </div>
    </div>
{% endfor %}